<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cloud Computing Assignment 1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header class="clearfix">
        <div class="container">
            <h3 class="col-sm-4">Cloud Computing Assignment 1</h3>
        </div><!-- end container -->
    </header> 
    <div id="main-content">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div id="footer">
            <div class="container">
                <p class="footer-block">By Andrew Aldrich</p>
                <p><a href="https://github.com/aldricaj/cc-assignment-1">View Source</a></p>
            </div>
        </div>
    </footer>
</body>