{% extends "base.html" %}
{% block content %}
    <h1>Details for {{user.first}} {{user.last}}</h1>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>
                <p>First Name</p>
            </td>
            <td>
                <p>{{user.first}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Last Name</p>
            </td>
            <td>
                <p>{{user.last}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Email</p>
            </td>
            <td>
                <p>{{user.email}}</p>
            </td>
        </tr>
    </table>
{% endblock %}